[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
commitizen = "*"
flake8 = "*"
flake8-bandit = "*"
flake8-black = "*"
flake8-bugbear = "*"
flake8-builtins = "*"
flake8-commas = "*"
flake8-comprehensions = "*"
flake8-docstrings = "*"
flake8-fixme = "*"
flake8-multiline-containers = "*"
flake8-simplify = "*"
isort = "*"
mypy = "*"
pep8-naming = "*"
pre-commit = "*"
pyinstaller = "*"
pyinstaller-versionfile = "*"
pytest = ">=7.0"
pytest-cov = "*"

[packages]
flit = "<4"
loguru = "*"

[scripts]
lint = "python -m scripts.lint"
test = "python -m pytest"
